@import "~bootstrap/scss/bootstrap";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../img/pexels-pixabay-72594.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    margin-top: auto;
}
